@using STM.ATDB.MvcWeb.Models
@using STM.ATDB.MvcWeb.App_Helpers
@using STM.ATDB.Core
@using STM.ATDB.MvcWeb.Resources;

@model HideOrganizationViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="form-container" class="panel-group col-md-12 no-gutter">
    <form id="search-container" class="col-md-12">
        <div class="panel-group col-md-12 well well-sm animated fadeIn">
            <h3><i class="fa fa-fw fa-th-list"></i> Criteria</h3>

            <div class="row padding-bottom-10">
                <div class="col-md-6">
                    <div class="row dx-field clearfix">
                        <div class="col-md-2 dx-field-label dx-lebel-hiorg text-right">Date From</div>
                        <div class="col-md-10 dx-field-value dx-value-hiorg">
                            <table>
                                <tr>
                                    <td>
                                        @(Html.DevExtreme().DateBox()
                                            .ID("DateFrom")
                                            .Min(new DateTime(2000, 1, 1))
                                            .Max(new DateTime(2029, 12, 31))
                                            .Value(DateTime.Now)
                                            .DisplayFormat(ConstantValues.DateFormat)
                                            .Width(132)
                                        )

                                    </td>
                                    <td style="padding:0px 10px 0px 10px; color:#8c8c8c;">To</td>
                                    <td>
                                        @(Html.DevExtreme().DateBox()
                                            .ID("DateTo")
                                            .Min(new DateTime(2000, 1, 1))
                                            .Max(new DateTime(2029, 12, 31))
                                            .Value(DateTime.Now)
                                            .DisplayFormat(ConstantValues.DateFormat)
                                            .Width(132)
                                        )
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row padding-bottom-10">
                <div class="col-md-6">
                    <div class="row dx-field clearfix">
                        <div class="col-md-2 dx-field-label dx-lebel-hiorg text-right">Division</div>
                        <div class="col-md-10 dx-field-value dx-value-hiorg">
                            @(Html.DevExtreme().DropDownBox()
                                    .DataSource(d => d.Mvc().Controller("Common")
                                                    .LoadAction("GetDivision")
                                                    .LoadParams(new { ProdDateFrom = new JS("getSearchDateFrom"), ProdDateTo = new JS("getSearchDateTo")/*, IsActiveOnly = new JS("getSearchViewActiveOrg")*/ })
                                                    .Key("DivCodeKey"))
                                    .ID("ddbDivision")
                                    .ValueExpr("DivCodeKey")
                                    .DisplayExpr("DivName")
                                    .OnValueChanged("gridBox_valueChangedSrhDivision")
                                    .Placeholder(ConstantValues.Select)
                                    .ContentTemplate(new TemplateName("EmbeddedDataGridMultipleDivision"))
                                    .ShowClearButton(true)

                            //.DataSourceOptions(d => d.Paginate(true))
                            )
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row dx-field">
                        <div class="col-md-2 dx-field-label dx-lebel-hiorg text-right">Department</div>
                        <div class="col-md-10 dx-field-value dx-value-hiorg">
                            @(Html.DevExtreme().DropDownBox()
                                    .DataSource(d => d.Mvc().Controller("Common")
                                                    .LoadAction("GetDepartment")
                                                    .LoadParams(new { ProdDateFrom = new JS("getSearchDateFrom"), ProdDateTo = new JS("getSearchDateTo")/*, IsActiveOnly = new JS("getSearchViewActiveOrg")*/, DivCodeKey = new JS("getSearchDivCode") })
                                                    .Key("DeptCodeKey"))
                                    .ID("ddbDepartment")
                                    .ValueExpr("DeptCodeKey")
                                    .DisplayExpr("DeptName")
                                    .OnValueChanged("gridBox_valueChangedSrhDepartment")
                                    .Placeholder(ConstantValues.Select)
                                    .ContentTemplate(new TemplateName("EmbeddedDataGridMultipleDepartment"))
                                    .ShowClearButton(true)
                            )
                        </div>
                    </div>
                </div>
                
            </div>

            @*<div class="row padding-bottom-10">
                
            </div>*@

            <div class="row">
                <div class="col-md-6">
                    <div class="row dx-field clearfix">
                        <div class="col-md-2 dx-field-label dx-lebel-hiorg text-right">Section</div>
                        <div class="col-md-10 dx-field-value dx-value-hiorg">
                            @(Html.DevExtreme().DropDownBox()
                                    .DataSource(d => d.Mvc().Controller("Common")
                                                    .LoadAction("GetSection")
                                                    .LoadParams(new { ProdDateFrom = new JS("getSearchDateFrom"), ProdDateTo = new JS("getSearchDateTo")/*, IsActiveOnly = new JS("getSearchViewActiveOrg")*/, DeptCodeKey = new JS("getSearchDeptCode") })
                                                    .Key("SecCodeKey"))
                                    .ID("ddbSection")
                                    .ValueExpr("SecCodeKey")
                                    .DisplayExpr("SecName")
                                    .OnValueChanged("gridBox_valueChangedSrhSectionCode")
                                    .Placeholder(ConstantValues.Select)
                                    .ContentTemplate(new TemplateName("EmbeddedDataGridMultipleSection"))
                                    .ShowClearButton(true)
                            )
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="pull-right">
                            @(Html.DevExtreme().Button()
                                .ID("btnSearch")
                                .Text("Search")
                                .OnClick("onbtnSearchClick")
                                .Type(ButtonType.Success)
                                .Icon("fa fa-search")
                            )
                            @(Html.DevExtreme().Button()
                                .ID("btnClear")
                                .Text("Clear")
                                .OnClick("onbtnClearClick")
                                .Type(ButtonType.Danger)
                                .Icon("fa fa-eraser")
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form id="grid-container" class="panel-group col-md-12">
        <div class="well well-sm animated fadeIn">
            <div class="row padding-bottom-10">
                <div class="col-md-9">
                    <h3><i class="fa fa-fw fa-th-list"></i> Hide Organization Result List</h3>
                </div>
                <div class="col-md-3 text-align-right ">
                    @(Html.DevExtreme().Button()
                                .ID("btnAdd")
                                .Text("Add")
                                .OnClick("onButtonAddClick")
                                .Type(ButtonType.Default)
                                .Disabled(!ViewContext.Controller.HasPermission("MAS020", PermissionName.Add.Value))
                                .Icon("fa fa-plus-circle")
                    )
                </div>
            </div>
            
            <div>
                @(Html.DevExtreme().DataGrid<HideOrganizationViewModel>()
                    .ID("gridContainer")
                    .DataSource(d => d.Mvc().Controller("HideOrganization")
                                    .LoadAction("SearchHideOrganization")
                                    .Key("OrgCode", "HideDateFrom")
                                    .LoadParams(new { isFirstLoad = new JS ("function() { return isFirstLoad; }")
                                                    , DateFrom = new JS("getSearchDateFrom")
                                                    , DateTo = new JS("getSearchDateTo")
                                                    , DivCode = new JS("getSearchDivCode")
                                                    , DeptCode = new JS("getSearchDeptCode")
                                                    , SecCode = new JS("getSearchSecCode")})
                            )
                    .AllowColumnResizing(true)
                    .ColumnMinWidth(40)
                    .ColumnAutoWidth(true)
                    .ShowBorders(true)
                    .ShowRowLines(true)
                    .Sorting(s => s.Mode(GridSortingMode.None))
                    .Columns(columns =>
                    {
                        columns.AddFor(m => m.OrgCode)
                            .Caption("No.")
                            .AllowEditing(false)
                            .CellTemplate(new JS("onCreateRowNum"))
                            .FormItem(x => x.Visible(false))
                            .AllowFiltering(false)
                            .Width(40);
                        columns.AddFor(m => m.OrgCode)
                            .Visible(false);
                        columns.AddFor(m => m.GroupName)
                            .FormItem(x => x.Visible(false));
                        columns.AddFor(m => m.DivName);
                        columns.AddFor(m => m.DeptName);
                        columns.AddFor(m => m.SecName);
                        columns.AddFor(m => m.HideDateFrom)
                            .DataType(GridColumnDataType.DateTime)
                            .Format(ConstantValues.DateFormat);
                        columns.AddFor(m => m.HideDateTo)
                            .DataType(GridColumnDataType.Date)
                            .Format(ConstantValues.DateFormat);
                        columns.AddFor(m => m.UpdateBy)
                            .FormItem(x => x.Visible(false));
                        columns.AddFor(m => m.UpdateDate)
                            .FormItem(x => x.Visible(false))
                            .DataType(GridColumnDataType.Date)
                            .Format(ConstantValues.TimeStampInOutFormat);
                        columns.Add().Width(70).Alignment(HorizontalAlignment.Center).CellTemplate(@<text>
                                @Html.DevExtreme().Button().Template("<img title=\"Edit\" src=\""+ @ConstantValues.EditCommandImageSource + "\">").OnClick("function (e) { editButtonClick(data)}").ElementAttr(new { @class = "button-sm" }).Visible(ViewContext.Controller.HasPermission("MAS020", PermissionName.Edit.Value))
                                @Html.DevExtreme().Button().Template("<img title=\"Delete\" src=\"" + @ConstantValues.DeleteCommandImageSource + "\">").OnClick("function (e) { deleteButtonClick(data)}").ElementAttr(new { @class = "button-sm" }).Visible(ViewContext.Controller.HasPermission("MAS020", PermissionName.Delete.Value))
                         </text>);
                    }
                            )
                    .Paging(p => p.PageSize(ConstantValues.GRID_PAGE_SIZE))
                    .HeaderFilter(f => f.Visible(true))
                    .RemoteOperations(true)
                    .OnEditorPrepared("onEditorPrepared")
                )
            </div>
        </div>
    </form>
</div>

<!--#region Popup  -->
    @*Add Dialog*@
    <div>
        @(Html.DevExtreme().Popup()
                .ID("saveDialog-popup")
                .ElementAttr("class", "popup")
                .Width(600)
                .Height(320)
                .ShowTitle(true)
                .Title("Add - Hide Organization")
                .Visible(false)
                .DragEnabled(true)
                .CloseOnOutsideClick(false)
        )

        @using (Html.DevExtreme().NamedTemplate("saveDialog-template"))
        {
            <div class="row padding-bottom-10">
                <div class="col-md-3 dx-text text-right">Hide Date From <span style="color:red;">*</span></div>
                <div class="col-md-9">
                    <div class="col-md-3" style="padding-left: 0px">
                        @(Html.DevExtreme().DateBoxFor(m => m.HideDateFrom)
                                        .ID("AddDateFrom")
                                        .Min(new DateTime(2000, 1, 1))
                                        .Max(new DateTime(2029, 12, 31))
                                        .Value(DateTime.Now)
                                        .DisplayFormat(ConstantValues.DateFormat)
                                        .Width(132)
                        )
                    </div>
                    <div class="col-md-1 dx-text text-right" style="width: 50px; margin-left: 12px">To</div>
                    <div class="col-md-3" style="padding-left: 5px">
                        @(Html.DevExtreme().DateBoxFor(m => m.HideDateTo)
                                        .ID("AddDateTo")
                                        .Min(new DateTime(2000, 1, 1))
                                        .Max(new DateTime(2029, 12, 31))
                                        .Value(DateTime.Now)
                                        .DisplayFormat(ConstantValues.DateFormat)
                                        .Width(132)
                        )
                    </div>
                </div>
            </div>

            <div class="row padding-bottom-10">
                <div class="col-md-3 dx-text text-right">Division <span style="color:red;">*</span></div>
                <div class="col-md-9">
                    @(Html.DevExtreme().DropDownBoxFor(m => m.DivCodeKey)
                                    .DataSource(d => d.Mvc().Controller("Common")
                                                    .LoadAction("GetDivision")
                                                    .LoadParams(new { ProdDateFrom = new JS("getAddDateFrom"), ProdDateTo = new JS("getAddDateTo"), IsActiveOnly = true })
                                                    .Key("DivCodeKey"))
                                    .ID("ddbAddDivision")
                                    .ValueExpr("DivCodeKey")
                                    .DisplayExpr("DivName")
                                    .OnValueChanged("gridBox_valueChangedAddDivision")
                                    .Placeholder(ConstantValues.Select)
                                    .ContentTemplate(new TemplateName("EmbeddedDataGridMultipleAddDivision"))
                                    .ShowClearButton(true)
                    )
                </div>
            </div>

            <div class="row padding-bottom-10">
                <div class="col-md-3 dx-text text-right">Department</div>
                <div class="col-md-9">
                    @(Html.DevExtreme().DropDownBox()
                                    .DataSource(d => d.Mvc().Controller("Common")
                                                    .LoadAction("GetDepartment")
                                                    .LoadParams(new { ProdDateFrom = new JS("getAddDateFrom"), ProdDateTo = new JS("getAddDateTo"), IsActiveOnly = true, DivCodeKey = new JS("getAddDivCode") })
                                                    .Key("DeptCodeKey"))
                                    .ID("ddbAddDepartment")
                                    .ValueExpr("DeptCodeKey")
                                    .DisplayExpr("DeptName")
                                    .OnValueChanged("gridBox_valueChangedAddDepartment")
                                    .Placeholder(ConstantValues.Select)
                                    .ContentTemplate(new TemplateName("EmbeddedDataGridMultipleAddDepartment"))
                                    .ShowClearButton(true)
                    )
                </div>
            </div>

            <div class="row padding-bottom-10">
                <div class="col-md-3 dx-text text-right">Section</div>
                <div class="col-md-9">
                    @(Html.DevExtreme().DropDownBox()
                                    .DataSource(d => d.Mvc().Controller("Common")
                                                    .LoadAction("GetSection")
                                                    .LoadParams(new { ProdDateFrom = new JS("getAddDateFrom"), ProdDateTo = new JS("getAddDateTo"), IsActiveOnly = true, DeptCodeKey = new JS("getAddDeptCode") })
                                                    .Key("SecCodeKey"))
                                    .ID("ddbAddSection")
                                    .ValueExpr("SecCodeKey")
                                    .DisplayExpr("SecName")
                                    .OnValueChanged("gridBox_valueChangedAddSectionCode")
                                    .Placeholder(ConstantValues.Select)
                                    .ContentTemplate(new TemplateName("EmbeddedDataGridMultipleAddSection"))
                                    .ShowClearButton(true)
                    )
                </div>
            </div>

            <div class="row padding-top-10">
                <div class="col-md-12" style="text-align: center;">
                    <div>
                        @(Html.DevExtreme().Button()
                                .ID("btnAddSave")
                                .Text("Save")
                                .OnClick("saveAddDialog")
                                .Type(ButtonType.Success)
                                .Icon("fa fa-save")
                        )
                        @(Html.DevExtreme().Button()
                                .ID("btnAddCancel")
                                .Text("Cancel")
                                .OnClick("CloseSaveDialog")
                                .Type(ButtonType.Danger)
                                .Icon("fa fa-times")
                        )
                    </div>
                </div>
            </div>
        }
    </div>

    @*Edit Dialog*@
    <div>
        @(Html.DevExtreme().Popup()
                .ID("editDialog-popup")
                .ElementAttr("class", "popup")
                .Width(600)
                .Height(320)
                .ShowTitle(true)
                .Title("Edit - Hide Organization")
                .Visible(false)
                .DragEnabled(true)
                .CloseOnOutsideClick(false)
        )

        @using (Html.DevExtreme().NamedTemplate("editDialog-template"))
        {
            @(Html.DevExtreme().TextBox()
                    .ID("EditOrgCode")
                    .Visible(false)
            )

            <div class="row padding-bottom-10">
                <div class="col-md-3 dx-text text-right">Hide Date From <span style="color:red;">*</span></div>
                <div class="col-md-9">
                    <div class="col-md-3" style="padding-left: 0px">
                        @(Html.DevExtreme().DateBoxFor(m => m.HideDateFrom)
                                        .ID("EditDateFrom")
                                        .Min(new DateTime(2000, 1, 1))
                                        .Max(new DateTime(2029, 12, 31))
                                        .ReadOnly(true)
                                        .Disabled(true)
                                        .DisplayFormat(ConstantValues.DateFormat)
                                        .Width(132)
                        )
                    </div>
                    <div class="col-md-1 dx-text text-right" style="width: 50px; margin-left: 12px">To</div>
                    <div class="col-md-3" style="padding-left: 5px">
                        @(Html.DevExtreme().DateBoxFor(m => m.HideDateTo)
                                        .ID("EditDateTo")
                                        .Min(new DateTime(2000, 1, 1))
                                        .Max(new DateTime(2029, 12, 31))
                                        .DisplayFormat(ConstantValues.DateFormat)
                                        .Width(132)
                        )
                    </div>
                </div>
            </div>

                <div class="row padding-bottom-10">
                    <div class="col-md-3 dx-text text-right">Division</div>
                    <div class="col-md-9">
                        @(Html.DevExtreme().DropDownBox()
                                        .DataSource(d => d.Mvc().Controller("Common")
                                                    .LoadAction("GetDivision")
                                                    .LoadParams(new { ProdDateFrom = new JS("getEditDateFrom"), ProdDateTo = new JS("getEditDateTo"), IsActiveOnly = true })
                                                    .Key("DivCodeKey"))
                                        .ID("ddbEditDivision")
                                        .ValueExpr("DivCodeKey")
                                        .DisplayExpr("DivName")
                                        .ReadOnly(true)
                                        .Disabled(true)
                                        .OnValueChanged("gridBox_valueChangedEditDivision")
                                        .Placeholder(ConstantValues.Select)
                                        .ContentTemplate(new TemplateName("EmbeddedDataGridMultipleEditDivision"))
                                        .ShowClearButton(true)
                        )
                    </div>
                </div>

                <div class="row padding-bottom-10">
                    <div class="col-md-3 dx-text text-right">Department</div>
                    <div class="col-md-9">
                        @(Html.DevExtreme().DropDownBox()
                                        .DataSource(d => d.Mvc().Controller("Common")
                                                    .LoadAction("GetDepartment")
                                                    .LoadParams(new { ProdDateFrom = new JS("getEditDateFrom"), ProdDateTo = new JS("getEditDateTo"), IsActiveOnly = true, DivCodeKey = new JS("getEditDivCode") })
                                                    .Key("DeptCodeKey"))
                                        .ID("ddbEditDepartment")
                                        .ValueExpr("DeptCodeKey")
                                        .DisplayExpr("DeptName")
                                        .OnValueChanged("gridBox_valueChangedEditDepartment")
                                        .Placeholder(ConstantValues.Select)
                                        .ContentTemplate(new TemplateName("EmbeddedDataGridMultipleEditDepartment"))
                                        .ShowClearButton(true)
                                        .ReadOnly(true)
                                        .Disabled(true)
                        )
                    </div>
                </div>

                <div class="row padding-bottom-10">
                    <div class="col-md-3 dx-text text-right">Section</div>
                    <div class="col-md-9">
                        @(Html.DevExtreme().DropDownBox()
                                        .DataSource(d => d.Mvc().Controller("Common")
                                                    .LoadAction("GetSection")
                                                    .LoadParams(new { ProdDateFrom = new JS("getEditDateFrom"), ProdDateTo = new JS("getEditDateTo"), IsActiveOnly = true, DeptCodeKey = new JS("getEditDeptCode") })
                                                    .Key("SecCodeKey"))
                                        .ID("ddbEditSection")
                                        .ValueExpr("SecCodeKey")
                                        .DisplayExpr("SecName")
                                        .OnValueChanged("gridBox_valueChangedEditSectionCode")
                                        .Placeholder(ConstantValues.Select)
                                        .ContentTemplate(new TemplateName("EmbeddedDataGridMultipleEditSection"))
                                        .ShowClearButton(true)
                                        .ReadOnly(true)
                                        .Disabled(true)
                        )
                    </div>
                </div>

                <div class="row padding-top-10">
                    <div class="col-md-12" style="text-align: center;">
                        <div>
                            @(Html.DevExtreme().Button()
                                    .ID("btnEditSave")
                                    .Text("Save")
                                    .OnClick("saveEditDialog")
                                    .Type(ButtonType.Success)
                                    .Icon("fa fa-save")
                            )
                            @(Html.DevExtreme().Button()
                                    .ID("btnEditCancel")
                                    .Text("Cancel")
                                    .OnClick("CloseEditDialog")
                                    .Type(ButtonType.Danger)
                                    .Icon("fa fa-times")
                            )
                        </div>
                    </div>
                </div>
        }
    </div>

<!--#endregion -->

<!--#region Template-->

    <!--#region Search-->
    @*Division*@
    <div>
        @using (Html.DevExtreme().NamedTemplate("EmbeddedDataGridMultipleDivision"))
        {
            @(Html.DevExtreme().DataGrid()
                .ID("embedded-datagridDivision")
                .DataSource(new JS(@"component.option(""dataSource"")"))
                .Columns(columns =>
                {
                    columns.Add().DataField("DivCode").Caption("Code")
                        .Width(60).AllowSorting(false).AllowEditing(false);
                    columns.Add().DataField("DivName").Caption("Name")
                        .Width(370).AllowSorting(false).AllowEditing(false);
                    columns.Add().DataField("GroupName").Caption("Group")
                        .Width(300).AllowSorting(false).AllowEditing(false);
                })
                .HoverStateEnabled(true)
                .Paging(p => p.PageSize(100))
                .FilterRow(f => f.Visible(false))
                .Scrolling(s => s.Mode(GridScrollingMode.Infinite))
                .Height(265)
                .Width(500)
                .Selection(s => s.Mode(SelectionMode.Single))
                .SelectedRowKeys(new JS(@"component.option(""value"")"))
                .OnCellClick("close_gridBoxDivision")
                .OnSelectionChanged(@<text>
                    function(selectedItems) {
                    var keys = selectedItems.selectedRowKeys;
                    component.option("value", keys);
                    }
                </text>)
            )
        }
    </div>

    @*Department*@
    <div>
        @using (Html.DevExtreme().NamedTemplate("EmbeddedDataGridMultipleDepartment"))
        {
            @(Html.DevExtreme().DataGrid()
                .ID("embedded-datagridDepartment")
                .DataSource(new JS(@"component.option(""dataSource"")"))
                .Columns(columns =>
                {
                    columns.Add().DataField("DeptCode").Caption("Code")
                        .Width(60).AllowSorting(false);
                    columns.Add().DataField("DeptName").Caption("Name")
                        .Width(470).AllowSorting(false);
                })
                .HoverStateEnabled(true)
                .Paging(p => p.PageSize(100))
                .FilterRow(f => f.Visible(false))
                .Scrolling(s => s.Mode(GridScrollingMode.Infinite))
                .Height(265)
                .Selection(s => s.Mode(SelectionMode.Single))
                .SelectedRowKeys(new JS(@"component.option(""value"")"))
                .OnCellClick("close_gridBoxDepartment")
                .OnSelectionChanged(@<text>
                    function(selectedItems) {
                    var keys = selectedItems.selectedRowKeys;
                    component.option("value", keys);
                    }
                </text>)
            )
        }
    </div>

    @*Section*@
    <div>
        @using (Html.DevExtreme().NamedTemplate("EmbeddedDataGridMultipleSection"))
        {
            @(Html.DevExtreme().DataGrid()
                .ID("embedded-datagridSection")
                .DataSource(new JS(@"component.option(""dataSource"")"))
                .Columns(columns =>
                {
                    columns.Add().DataField("SecCode").Caption("Code")
                        .Width(60).AllowSorting(false);
                    columns.Add().DataField("SecName").Caption("Name")
                        .Width(470).AllowSorting(false);
                })
                .HoverStateEnabled(true)
                .Paging(p => p.PageSize(100))
                .FilterRow(f => f.Visible(false))
                .Scrolling(s => s.Mode(GridScrollingMode.Infinite))
                .Height(265)
                .Selection(s => s.Mode(SelectionMode.Single))
                .SelectedRowKeys(new JS(@"component.option(""value"")"))
                .OnCellClick("close_gridBoxSection")
                .OnSelectionChanged(@<text>
                    function(selectedItems) {
                    var keys = selectedItems.selectedRowKeys;
                    component.option("value", keys);
                    }
                </text>)
            )
        }
    </div>
    <!--#endregion-->

    <!--#region Add-->
    @*Division*@
    <div>
        @using (Html.DevExtreme().NamedTemplate("EmbeddedDataGridMultipleAddDivision"))
        {
            @(Html.DevExtreme().DataGrid()
                    .ID("embedded-datagridAddDivision")
                    .DataSource(new JS(@"component.option(""dataSource"")"))
                    .Columns(columns =>
                    {
                        columns.Add().DataField("DivCode").Caption("Code")
                            .Width(60).AllowSorting(false).AllowEditing(false);
                        columns.Add().DataField("DivName").Caption("Name")
                            .Width(370).AllowSorting(false).AllowEditing(false);
                        columns.Add().DataField("GroupName").Caption("Group")
                            .Width(300).AllowSorting(false).AllowEditing(false);
                    })
                    .HoverStateEnabled(true)
                    .Paging(p => p.PageSize(100))
                    .FilterRow(f => f.Visible(false))
                    .Scrolling(s => s.Mode(GridScrollingMode.Infinite))
                    .Height(265)
                    .Width(500)
                    .Selection(s => s.Mode(SelectionMode.Single))
                    .SelectedRowKeys(new JS(@"component.option(""value"")"))
                    .OnCellClick("close_gridBoxAddDivision")
                    .OnSelectionChanged(@<text>
                        function(selectedItems) {
                        var keys = selectedItems.selectedRowKeys;
                        component.option("value", keys);
                        }
                    </text>)
            )
        }
    </div>

    @*Department*@
    <div>
        @using (Html.DevExtreme().NamedTemplate("EmbeddedDataGridMultipleAddDepartment"))
        {
            @(Html.DevExtreme().DataGrid()
                    .ID("embedded-datagridAddDepartment")
                    .DataSource(new JS(@"component.option(""dataSource"")"))
                    .Columns(columns =>
                    {
                        columns.Add().DataField("DeptCode").Caption("Code")
                            .Width(60).AllowSorting(false);
                        columns.Add().DataField("DeptName").Caption("Name")
                            .Width(470).AllowSorting(false);
                    })
                    .HoverStateEnabled(true)
                    .Paging(p => p.PageSize(100))
                    .FilterRow(f => f.Visible(false))
                    .Scrolling(s => s.Mode(GridScrollingMode.Infinite))
                    .Height(265)
                    .Selection(s => s.Mode(SelectionMode.Single))
                    .SelectedRowKeys(new JS(@"component.option(""value"")"))
                    .OnCellClick("close_gridBoxAddDepartment")
                    .OnSelectionChanged(@<text>
                        function(selectedItems) {
                        var keys = selectedItems.selectedRowKeys;
                        component.option("value", keys);
                        }
                    </text>)
            )
        }
    </div>

    @*Section*@
    <div>
        @using (Html.DevExtreme().NamedTemplate("EmbeddedDataGridMultipleAddSection"))
        {
            @(Html.DevExtreme().DataGrid()
                    .ID("embedded-datagridAddSection")
                    .DataSource(new JS(@"component.option(""dataSource"")"))
                    .Columns(columns =>
                    {
                        columns.Add().DataField("SecCode").Caption("Code")
                            .Width(60).AllowSorting(false);
                        columns.Add().DataField("SecName").Caption("Name")
                            .Width(470).AllowSorting(false);
                    })
                    .HoverStateEnabled(true)
                    .Paging(p => p.PageSize(100))
                    .FilterRow(f => f.Visible(false))
                    .Scrolling(s => s.Mode(GridScrollingMode.Infinite))
                    .Height(265)
                    .Selection(s => s.Mode(SelectionMode.Single))
                    .SelectedRowKeys(new JS(@"component.option(""value"")"))
                    .OnCellClick("close_gridBoxAddSection")
                    .OnSelectionChanged(@<text>
                        function(selectedItems) {
                        var keys = selectedItems.selectedRowKeys;
                        component.option("value", keys);
                        }
                    </text>)
            )
        }
    </div>
    <!--#endregion-->

    <!--#region Edit-->
    @*Division*@
    <div>
        @using (Html.DevExtreme().NamedTemplate("EmbeddedDataGridMultipleEditDivision"))
        {
            @(Html.DevExtreme().DataGrid()
                    .ID("embedded-datagridEditDivision")
                    .DataSource(new JS(@"component.option(""dataSource"")"))
                    .Columns(columns =>
                    {
                        columns.Add().DataField("DivCode").Caption("Code")
                            .Width(60).AllowSorting(false).AllowEditing(false);
                        columns.Add().DataField("DivName").Caption("Name")
                            .Width(370).AllowSorting(false).AllowEditing(false);
                        columns.Add().DataField("GroupName").Caption("Group")
                            .Width(300).AllowSorting(false).AllowEditing(false);
                    })
                    .HoverStateEnabled(true)
                    .Paging(p => p.PageSize(100))
                    .FilterRow(f => f.Visible(false))
                    .Scrolling(s => s.Mode(GridScrollingMode.Infinite))
                    .Height(265)
                    .Width(500)
                    .Selection(s => s.Mode(SelectionMode.Single))
                    .SelectedRowKeys(new JS(@"component.option(""value"")"))
                    .OnCellClick("close_gridBoxEditDivision")
                    .OnSelectionChanged(@<text>
                        function(selectedItems) {
                        var keys = selectedItems.selectedRowKeys;
                        component.option("value", keys);
                        }
                    </text>)
            )
        }
    </div>

    @*Department*@
    <div>
        @using (Html.DevExtreme().NamedTemplate("EmbeddedDataGridMultipleEditDepartment"))
        {
            @(Html.DevExtreme().DataGrid()
                    .ID("embedded-datagridEditDepartment")
                    .DataSource(new JS(@"component.option(""dataSource"")"))
                    .Columns(columns =>
                    {
                        columns.Add().DataField("DeptCode").Caption("Code")
                            .Width(60).AllowSorting(false);
                        columns.Add().DataField("DeptName").Caption("Name")
                            .Width(470).AllowSorting(false);
                    })
                    .HoverStateEnabled(true)
                    .Paging(p => p.PageSize(100))
                    .FilterRow(f => f.Visible(false))
                    .Scrolling(s => s.Mode(GridScrollingMode.Infinite))
                    .Height(265)
                    .Selection(s => s.Mode(SelectionMode.Single))
                    .SelectedRowKeys(new JS(@"component.option(""value"")"))
                    .OnCellClick("close_gridBoxEditDepartment")
                    .OnSelectionChanged(@<text>
                        function(selectedItems) {
                        var keys = selectedItems.selectedRowKeys;
                        component.option("value", keys);
                        }
                    </text>)
            )
        }
    </div>

    @*Section*@
    <div>
        @using (Html.DevExtreme().NamedTemplate("EmbeddedDataGridMultipleEditSection"))
        {
            @(Html.DevExtreme().DataGrid()
                    .ID("embedded-datagridEditSection")
                    .DataSource(new JS(@"component.option(""dataSource"")"))
                    .Columns(columns =>
                    {
                        columns.Add().DataField("SecCode").Caption("Code")
                            .Width(60).AllowSorting(false);
                        columns.Add().DataField("SecName").Caption("Name")
                            .Width(470).AllowSorting(false);
                    })
                    .HoverStateEnabled(true)
                    .Paging(p => p.PageSize(100))
                    .FilterRow(f => f.Visible(false))
                    .Scrolling(s => s.Mode(GridScrollingMode.Infinite))
                    .Height(265)
                    .Selection(s => s.Mode(SelectionMode.Single))
                    .SelectedRowKeys(new JS(@"component.option(""value"")"))
                    .OnCellClick("close_gridBoxEditSection")
                    .OnSelectionChanged(@<text>
                        function(selectedItems) {
                        var keys = selectedItems.selectedRowKeys;
                        component.option("value", keys);
                        }
                    </text>)
            )
        }
    </div>
    <!--#endregion-->

<!--#endregion-->

@section script{
<script  type="text/javascript">

    var isFirstLoad = true;

    function onCreateRowNum(cellElement, cellInfo) {
        cellElement.text((cellInfo.component.pageSize() * cellInfo.component.pageIndex()) + cellInfo.row.rowIndex + 1)
        //
    }

    function onbtnSearchClick(e) {
        isFirstLoad = false;
        $("#gridContainer").dxDataGrid("refresh");
    }

    function onbtnClearClick() {
        isFirstLoad = true;
        try {
            $("#DateFrom").dxDateBox("instance").option("value", new Date());
            $("#DateTo").dxDateBox("instance").option("value", new Date());
            //$("#CBViewActive").dxCheckBox("instance").option("value", true);
            $("#gridContainer").dxDataGrid("instance").refresh();

            $("#ddbDivision").dxDropDownBox("instance").option("value", null);
            $("#embedded-datagridDivision").dxDataGrid("instance").refresh();
            $("#ddbDepartment").dxDropDownBox("instance").option("value", null);
            $("#embedded-datagridDepartment").dxDataGrid("instance").refresh();
            $("#ddbSection").dxDropDownBox("instance").option("value", null);
            $("#embedded-datagridSection").dxDataGrid("instance").refresh();
        }
        catch (err) { }
    }

    function getSearchDateFrom() {
        return $("#DateFrom").dxDateBox("instance").option("text");
    }

    function getSearchDateTo() {
        return $("#DateTo").dxDateBox("instance").option("text");
    }

    function getSearchDivCode() {
        return $("#ddbDivision").dxDropDownBox("instance").option("value");
    }

    function getSearchDeptCode() {
        return $("#ddbDepartment").dxDropDownBox("instance").option("value");
    }

    function getSearchSecCode() {
        return $("#ddbSection").dxDropDownBox("instance").option("value");
    }

    function getSearchViewActiveOrg() {
        return $("#CBViewActive").dxCheckBox("instance").option("value");
    }

    function getAddDateFrom() {
        return $("#AddDateFrom").dxDateBox("instance").option("text");
    }

    function getAddDateTo() {
        return $("#AddDateTo").dxDateBox("instance").option("text");
    }

    function getAddDivCode() {
        return $("#ddbAddDivision").dxDropDownBox("instance").option("value");
    }

    function getAddDeptCode() {
        return $("#ddbAddDepartment").dxDropDownBox("instance").option("value");
    }

    function getEditDateFrom() {
        return $("#EditDateFrom").dxDateBox("instance").option("text");
    }

    function getEditDateTo() {
        return $("#EditDateTo").dxDateBox("instance").option("text");
    }

    function getEditDivCode() {
        return $("#ddbEditDivision").dxDropDownBox("instance").option("value");
    }

    function getEditDeptCode() {
        return $("#ddbEditDepartment").dxDropDownBox("instance").option("value");
    }

    function gridBox_valueChangedSrhDivision(e) {
        var $dataGrid = $("#embedded-datagridDivision");

        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
        }
        try {
            $("#ddbDepartment").dxDropDownBox("instance").option("value", null);
            $("#embedded-datagridDepartment").dxDataGrid("instance").refresh();

            $("#ddbSection").dxDropDownBox("instance").option("value", null);
            $("#embedded-datagridSection").dxDataGrid("instance").refresh();
        }
        catch (err) { }

        $("#ddbDivision").dxDropDownBox("instance").close();
    }

    function close_gridBoxDivision() {
        $("#ddbDivision").dxDropDownBox("instance").close();
    }

    function gridBox_valueChangedSrhDepartment(e) {
        var $dataGrid = $("#embedded-datagridDepartment");

        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
        }
        try {
            $("#ddbSection").dxDropDownBox("instance").option("value", null);
            $("#embedded-datagridSection").dxDataGrid("instance").refresh();
        }
        catch (err) { }
        //e.component.close();
        $("#ddbDepartment").dxDropDownBox("instance").close();

    }

    function close_gridBoxDepartment() {
        $("#ddbDepartment").dxDropDownBox("instance").close();
    }

    function gridBox_valueChangedSrhSectionCode(e) {
        var $dataGrid = $("#embedded-datagridSection");

        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
        }
        //e.component.close();
        $("#ddbSection").dxDropDownBox("instance").close();
    }

    function close_gridBoxSection() {
        $("#ddbSection").dxDropDownBox("instance").close();
    }

    //Add Mode
    function gridBox_valueChangedAddDivision(e) {
        var $dataGrid = $("#embedded-datagridAddDivision");

        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
        }
        try {
            $("#ddbAddDepartment").dxDropDownBox("instance").option("value", null);
            $("#embedded-datagridAddDepartment").dxDataGrid("instance").refresh();

            $("#ddbAddSection").dxDropDownBox("instance").option("value", null);
            $("#embedded-datagridAddSection").dxDataGrid("instance").refresh();
        }
        catch (err) { }

        $("#ddbAddDivision").dxDropDownBox("instance").close();
    }

    function close_gridBoxAddDivision() {
        $("#ddbAddDivision").dxDropDownBox("instance").close();
    }

    function gridBox_valueChangedAddDepartment(e) {
        var $dataGrid = $("#embedded-datagridAddDepartment");

        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
        }
        try {
            $("#ddbAddSection").dxDropDownBox("instance").option("value", null);
            $("#embedded-datagridAddSection").dxDataGrid("instance").refresh();
        }
        catch (err) { }
        //e.component.close();
        $("#ddbAddDepartment").dxDropDownBox("instance").close();

    }

    function close_gridBoxAddDepartment() {
        $("#ddbAddDepartment").dxDropDownBox("instance").close();
    }

    function gridBox_valueChangedAddSectionCode(e) {
        var $dataGrid = $("#embedded-datagridAddSection");

        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
        }
        //e.component.close();
        $("#ddbAddSection").dxDropDownBox("instance").close();
    }

    function close_gridBoxAddSection() {
        $("#ddbAddSection").dxDropDownBox("instance").close();
    }

    function onButtonAddClick(e) {
        var popup = $("#saveDialog-popup").dxPopup("instance");
        popup.option("contentTemplate", $("#saveDialog-template"));

        popup.show();
        e.validationGroup.reset();

        try {
            var today = new Date();
            $("#AddDateFrom").dxDateBox("instance").option("value", today);
            $("#AddDateTo").dxDateBox("instance").option("value", today);

            $("#ddbAddDivision").dxDropDownBox("instance").option("value", null);
            $("#embedded-datagridAddDivision").dxDataGrid("instance").refresh();
        }
        catch (err) { }
    }

    function CloseSaveDialog(e) {
        $("#saveDialog-popup").dxPopup("hide");
    }

    function saveAddDialog(params) {
        if (params.validationGroup.validate().isValid) {
            var result = DevExpress.ui.dialog.confirm("@MessageListResource.C0001", "Confirm Save");
            result.done(function (dialogResult) {
                if (dialogResult) {
                    var criteria = {
                        HideDateFrom: $("#AddDateFrom").dxDateBox("instance").option("text"),
                        HideDateTo: $("#AddDateTo").dxDateBox("instance").option("text"),
                        DivCodeKey: $("#ddbAddDivision").dxDropDownBox("instance").option("value"),
                        DeptCodeKey: $("#ddbAddDepartment").dxDropDownBox("instance").option("value"),
                        SecCodeKey: $("#ddbAddSection").dxDropDownBox("instance").option("value")
                    }
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("InsertHideOrganization", "HideOrganization")",
                        dataType: "json",
                        data: { value: JSON.stringify(criteria) },
                        success: function (data, status, xhr) {
                            CloseSaveDialog();

                            if (data.ErrorType == "@ConstantValues.TypeError") {
                                app.ui.showNotifyMessage('@ToastType.Error', data.ErrorMessage);
                            }
                            if (data.ErrorType == "@ConstantValues.TypeWarning") {
                                app.ui.showNotifyMessage('@ToastType.Warning', data.ErrorMessage);
                            }
                            if (data.ErrorType == "@ConstantValues.TypeInfo") {
                                app.ui.showNotifyMessage('@ToastType.Success', data.ErrorMessage);
                            }

                            onbtnSearchClick();
                        },
                        error: function (xhr, statu, error) {
                            var message = app.ui.handleAjaxError(xhr, status, error);
                            app.ui.showNotifyMessage('@ToastType.Error', message);
                        }
                    })
                }
            });
        }

        return false;
    }

    //Edit Mode
    function gridBox_valueChangedEditDivision(e) {
        var $dataGrid = $("#embedded-datagridEditDivision");

        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
        }
        try {
            $("#ddbEditDepartment").dxDropDownBox("instance").option("value", null);
            $("#embedded-datagridEditDepartment").dxDataGrid("instance").refresh();

            $("#ddbEditSection").dxDropDownBox("instance").option("value", null);
            $("#embedded-datagridEditSection").dxDataGrid("instance").refresh();
        }
        catch (err) { }

        $("#ddbEditDivision").dxDropDownBox("instance").close();
    }

    function close_gridBoxEditDivision() {
        $("#ddbEditDivision").dxDropDownBox("instance").close();
    }

    function gridBox_valueChangedEditDepartment(e) {
        var $dataGrid = $("#embedded-datagridEditDepartment");

        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
        }
        try {
            $("#ddbEditSection").dxDropDownBox("instance").option("value", null);
            $("#embedded-datagridEditSection").dxDataGrid("instance").refresh();
        }
        catch (err) { }
        //e.component.close();
        $("#ddbEditDepartment").dxDropDownBox("instance").close();

    }

    function close_gridBoxEditDepartment() {
        $("#ddbEditDepartment").dxDropDownBox("instance").close();
    }

    function gridBox_valueChangedEditSectionCode(e) {
        var $dataGrid = $("#embedded-datagridEditSection");

        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
        }
        //e.component.close();
        $("#ddbEditSection").dxDropDownBox("instance").close();
    }

    function close_gridBoxEditSection() {
        $("#ddbEditSection").dxDropDownBox("instance").close();
    }

    function editButtonClick(data) {
        var popup = $("#editDialog-popup").dxPopup("instance");
        popup.option("contentTemplate", $("#editDialog-template"));
        popup.show();

        $("#EditOrgCode").dxTextBox("instance").option("value", data.OrgCode);
        $("#EditDateFrom").dxDateBox("instance").option("value", data.HideDateFrom);
        $("#EditDateTo").dxDateBox("instance").option("value", data.HideDateFrom);

        if (data.DivCodeKey != null)
            $("#ddbEditDivision").dxDropDownBox("instance").option("value", data.DivCodeKey);
        if (data.DeptCodeKey != null)
            $("#ddbEditDepartment").dxDropDownBox("instance").option("value", data.DeptCodeKey);
        if (data.SecCodeKey != null)
            $("#ddbEditSection").dxDropDownBox("instance").option("value", data.SecCodeKey);
    }

    function CloseEditDialog() {
        try {
            $("#editDialog-popup").dxPopup("hide");

            $("#ddbEditDivision").dxDropDownBox("instance").option("value", null);
            $("#embedded-datagridEditDivision").dxDataGrid("instance").refresh();
        }
        catch (err) { }
    }

    function saveEditDialog(params) {
        if (params.validationGroup.validate().isValid) {
            var result = DevExpress.ui.dialog.confirm("@MessageListResource.C0001", "Confirm Update");
            result.done(function (dialogResult) {
                if (dialogResult) {
                    var criteria = {
                        OrgCode: $("#EditOrgCode").dxTextBox("instance").option("value"),
                        HideDateFrom: $("#EditDateFrom").dxDateBox("instance").option("text"),
                        HideDateTo: $("#EditDateTo").dxDateBox("instance").option("text")
                    }
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("UpdateHideOrganization", "HideOrganization")",
                        dataType: "json",
                        data: { value: JSON.stringify(criteria) },
                        success: function (data, status, xhr) {
                            CloseEditDialog();

                            if (data.ErrorType == "@ConstantValues.TypeError") {
                                app.ui.showNotifyMessage('@ToastType.Error', data.ErrorMessage);
                            }
                            if (data.ErrorType == "@ConstantValues.TypeWarning") {
                                app.ui.showNotifyMessage('@ToastType.Warning', data.ErrorMessage);
                            }
                            if (data.ErrorType == "@ConstantValues.TypeInfo") {
                                app.ui.showNotifyMessage('@ToastType.Success', data.ErrorMessage);
                            }

                            onbtnSearchClick();
                        },
                        error: function (xhr, statu, error) {
                            var message = app.ui.handleAjaxError(xhr, status, error);
                            app.ui.showNotifyMessage('@ToastType.Error', message);
                        }
                    })
                }
            });
        }
        return false;
    }

    function deleteButtonClick(data) {
        var confirmName = data.DivName;
        if (data.DevName != null || data.DevName != '')
            confirmName = data.DevName;
        if (data.SecName != null || data.SecName != '')
            confirmName = data.SecName;

        var result = DevExpress.ui.dialog.confirm(format("@MessageListResource.C0002", "<br>" + confirmName + "<br>on " + formatDate(data.HideDateFrom)), "Confirm Delete");
        result.done(function (dialogResult) {
            if (dialogResult) {
                var criteria = {
                    OrgCode: data.OrgCode,
                    HideDateFrom: data.HideDateFrom
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DeleteHideOrganization", "HideOrganization")",
                    dataType: "json",
                    data: { value: JSON.stringify(criteria) },
                    success: function (data, status, xhr) {
                        if (data.ErrorType == "@ConstantValues.TypeError") {
                            app.ui.showNotifyMessage('@ToastType.Error', data.ErrorMessage);
                        }
                        if (data.ErrorType == "@ConstantValues.TypeWarning") {
                            app.ui.showNotifyMessage('@ToastType.Warning', data.ErrorMessage);
                        }
                        if (data.ErrorType == "@ConstantValues.TypeInfo") {
                            app.ui.showNotifyMessage('@ToastType.Success', data.ErrorMessage);
                        }

                        onbtnSearchClick();
                    },
                    error: function (xhr, statu, error) {
                        var message = app.ui.handleAjaxError(xhr, status, error);
                        app.ui.showNotifyMessage('@ToastType.Error', message);
                    }
                })
            }
        });
    }

    function formatDate(date) {
        var months = [
            'Jan', 'Feb', 'Mar', 'Apr', 'May',
            'Jun', 'Jul', 'Aug', 'Sep',
            'Oct', 'Nov', 'Dec'
        ];

        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        var monthName = months[month];
        //if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        return [day, monthName, year].join('/');
    }

    function format(fmtstr) {
        var args = Array.prototype.slice.call(arguments, 1);
        return fmtstr.replace(/\{(\d+)\}/g, function (match, index) {
            return args[index];
        });
    }

    function onEditorPrepared(e) {
        app.ui.ResetReadOnlyControlBackgroundColor();
    }

    function onShowing(e) {
        app.ui.AddBackgroundColorPopupButton();
    }

</script>

}